.DS_Store
assets/data/*
assets/uploads/*
application/logs/*
application/cache/*
application/config/*
application/config/config.php
application/config/database.php
assets/data/msg/*
user_guide/*
/nbproject/
.idea/*

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
